<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Feature Portal</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron text-center">
		<h2> Xceedence Feature Registraion Portal</h2>
	</div>
	<div class="container-fluid">
		<p> Hii !,Welcome to <b> Xceedence Feature Resgitraion Portal</b>. Using this portal you can add/change/update/delete our client's information and their required features.</p>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#featureModal">
					Add Feature
				</button>
			</div>

			<div class="col-sm-3">

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientModal">
					Add client
				</button>
			</div>
			<div class="col-sm-3"></div>

			<!-- Modal 1 -->
			<div class="modal fade" id="featureModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="featureModalTitle">Add Feature</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>



			<!-- Modal 2 -->
			<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="clientModalTitle">Add Client</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Name: </span>
								</div>
								<input type="text" class="form-control" id="clientName" data-bind="value:clientName" placeholder="Enter Client Name" />

								<div data-bind="visible:clientNameError">
									<p data-bind="text:clientNameErrorMsg"></p>
								</div>
							</div>
							<br/>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Priority: </span>
								</div>
								<input type="number" class="form-control" id="clientPriority" data-bind="value:clientPriority" placeholder="Enter Client Priority" min="1"/>
								<div data-bind="visible:clientPriorityError">
									<p data-bind="text:clientPriorityErrorMsg"></p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-bind="click:saveClient">Save</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/knockout-min.js"></script>
	<script type="text/javascript" src="js/knockout-debug.js"></script>
	<script type="text/javascript" src="js/logic.js"></script>
</body>
</html>